<div class="footer">
    <div class="footer-address">
        <h4 style="text-align:center"><span class="material-symbols-outlined">
            location_on
            </span> 128 Carven Park Rd,London NW10 8QD</h4>
        <h4 style="text-align: center;">Mantu.co.uk</h4>
        <h4 style="text-align:center">
            
            <span class="material-symbols-outlined">
                call
                </span>
            020 8961 0401</h4>
    </div>
    <div class="footer-info">
      
       <p>
        Restaurant guides review restaurants, often ranking them or providing information to guide consumers (type of food, handicap accessibility, facilities, etc.). One of the most famous contemporary guides is the Michelin series of guides which accord from 1 to 3 stars to restaurants they perceive to be of high culinary merit. Restaurants with stars in the Michelin guide are formal, expensive establishments; in general the more stars awarded, the higher the prices.

        The main competitor to the Michelin guide in Europe is the guidebook series published by Gault Millau. Its ratings are on a scale of 1 to 20, with 20 being the highest.
       </p>
    </div>
    <div class="footer-nav">
        

        <button class="download-button">Download App <span class="material-symbols-outlined">
            file_download
            </span></button>
        <button class="signup-button">Sign up</button>
        <button class="help-button">Help Center</button>

    </div>
</div>