<!-- <div class="footer">
    
    <div class="footer-address">
        <h4 style="text-align:center"><span class="material-symbols-outlined">
            location_on
            </span>51 Hemstal Road, LONDON NW6 2AD</h4>
        <h4 style="text-align: center;">
            <span class="material-symbols-outlined">
                language
                </span>
            MantuSupply.co.uk</h4>
        <h4 style="text-align:center">
            
            <span class="material-symbols-outlined">
                call
                </span>
            +4478 1695 6632</h4>
    </div>
    <div class="footer-info">
      
       <p>
        Restaurant guides review restaurants, often ranking them or providing information to guide consumers (type of food, handicap accessibility, facilities, etc.). One of the most famous contemporary guides is the Michelin series of guides which accord from 1 to 3 stars to restaurants they perceive to be of high culinary merit. Restaurants with stars in the Michelin guide are formal, expensive establishments; in general the more stars awarded, the higher the prices.

        The main competitor to the Michelin guide in Europe is the guidebook series published by Gault Millau. Its ratings are on a scale of 1 to 20, with 20 being the highest.
       </p>
    </div>
    <div class="footer-nav">
        

        <button class="download-button" type="button">Download App
    
            <span class="material-symbols-outlined">
                download
                </span>
            
        </button>
        <button class="signup-button" type="button">Sign Up
            <span class="material-symbols-outlined">
                login
                </span>
        </button>
        <button class="help-button" type="button">Help Center

            <span class="material-symbols-outlined">
                help
                </span>
        </button>

    </div>
</div> -->



<div class="footer">
    <div class="footer-info">
        <h2>About MantuSupply</h2>
        <i class="fas fa-asterisk"></i>
  
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo vel eaque optio accusantium sit velit fuga animi ipsa, quibusdam et odit asperiores quia. Obcaecati, amet quam cumque id architecto veniam!</p>
      
    </div>
   
    <div class="contact-container">
       
        <div class="social-media">
            <h2>Follow Along</h2>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            
        </div>
        <div class="send-message">
            <h2>Send Message</h2>
            <form>
             <textarea name="message" cols="30" rows="5" placeholder="Send Message"></textarea>
             <br>
             <button type="button">
                Send
                <i class="fa fa-paper-plane"></i>
            </button>
            </form>
        </div>
    </div>
   
</div>

<div class="copy-right">
    
    <div class="info">
        <ul>
            <li>&#169; MantuSupply 2023</li>
            <li>51 Hemstal Road, LONDON NW6 2AD</li>
            <li>Tel: +4478 1695 6632</li>
        </ul>
        <div class="copy-right-btns">
        

            <button class="download-button" type="button">Download App
        
                <span class="material-symbols-outlined">
                    download
                    </span>
                
            </button>
            <button class="signup-button" type="button">Sign Up
                <span class="material-symbols-outlined">
                    login
                    </span>
            </button>
            <button class="help-button" type="button">Help Center
    
                <span class="material-symbols-outlined">
                    help
                    </span>
            </button>
    
        </div>

    </div>
</div>