

<div class="topnavbar">
    <div class="topnav">
        <li>About Us</li>
        <li>Products</li>
        <li><h2>MANTU</h2></li>
        <li>Order Online</li>
        <li>Contact Us</li>
    </div>
</div>




<div class="header">
    <div class="header-txt">
        <h2>Food You Can Trust</h2>
    </div>
</div>




<div class="text-body">
    <div class="body-info-txt">
        <h3>Order a home, Delivery, Click & collect or visit our store </h3>
    </div>
</div>


    <div class="bodynavbar-nav">
        <li><span class="material-symbols-outlined">
            local_shipping
            </span>
            &nbsp;
            Home Delivery
        </li>
        <li><span class="material-symbols-outlined">
            library_add
            </span>
            &nbsp;
            Click & Collect
        </li>
        <li><span class="material-symbols-outlined">
            travel_explore
            </span>
            &nbsp;
        Visit Our Store
        </li>
    </div>
