@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e6d9d8
    
}

.foods-plate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .foods-plate{
      flex: 100%;
    
    }
    .foods-plate .mantu{
        margin-bottom: 10px;
    }
    .foods-plate .turshi{
        margin-top: 10px;
    }
  }

.foods-plate .mantu{
    width: 150px;
    height: 200px;
    border-radius: 31px;
    background: linear-gradient(180deg,#ffffff, #c5c5c5);
    box-shadow: 10px 10px 30px #d9d9d9,
    -20px -20px 60px #ffffff;
    margin-top: 10px;
}



.foods-plate .mantu h3,h5{
    display: flex;
    justify-content:flex-start;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    padding-top: 7px;

}

.foods-plate .mantu img{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
   
}

.foods-plate img{
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}


.foods-plate img:hover
{
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}

.foods-plate .samosa{
    width: 150px;
    height: 200px;
    border-radius: 31px;
    background: linear-gradient(145deg,#ffffff, #c5c5c5);
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}



.foods-plate .samosa h3,h5{
    display: flex;
    justify-content:flex-start;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    padding-top: 7px;
}

.foods-plate .samosa img{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.foods-plate .aykhanom{
    width: 150px;
    height: 200px;
    border-radius: 31px;
    background: linear-gradient(145deg,#ffffff, #c5c5c5);
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}




.foods-plate .aykhanom h3{
    display: flex;
    justify-content:flex-start;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    padding-top: 7px;
}

.foods-plate .aykhanom img{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}


.foods-plate .ashak{
    width: 150px;
    height: 200px;
    border-radius: 31px;
    background: linear-gradient(145deg,#ffffff, #c5c5c5);
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}



.foods-plate .ashak h3{
    display: flex;
    justify-content:flex-start;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    padding-top: 7px;
}

.foods-plate .ashak img{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}


.foods-plate .turshi{
    width: 150px;
    height: 200px;
    border-radius: 31px;
    background: linear-gradient(145deg,#ffffff, #c5c5c5);
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;

}



.foods-plate .turshi h3{
    display: flex;
    justify-content:flex-start;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    padding-top: 7px;
}

.foods-plate .turshi img{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.bodyParagraphs{
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bodyParagraphs .paragraph1{
    margin: 20px 10px 10px 10px;

    border-radius: 9px;
    background: linear-gradient(145deg, #e6e6e6,#ffffff);

    box-shadow:  6px 6px 12px #e3e3e3,
     -6px -6px 12px #ffffff;
    padding: 10px;
    text-align: justify;
}

.bodyParagraphs .paragraph1 h2{
    font-family: 'Bree Serif', serif;
}
.bodyParagraphs .paragraph1 p{
    font-family: sans-serif;
    padding-top: 10px;
    font-size: 15px;
}

.bodyParagraphs .paragraphs h2{
    font-family: 'Bree Serif', serif;
}
.bodyParagraphs .paragraphs p{
    font-family: sans-serif;
    padding-top: 10px;
    font-size: 15px;
}

.bodyParagraphs .paragraphs{
    border-radius: 9px;
    background: linear-gradient(145deg, #e6e6e6,#ffffff);
    box-shadow:  6px 6px 12px #e3e3e3,
     -6px -6px 12px #ffffff;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}


