

<div class="foods-plate">
    <div class="mantu">
        <img src="images/mantu2.jpg" alt="">

    <h3>Mantu</h3>
    <h5>With Souce</h5>        
        <h6>$5.5</h6>
    </div>
    <div class="samosa">
        <img src="images/samosa.jpg" alt="">
        <h3>Samosa</h3>
            <h5>With Ketchup</h5>        
                <h6>$10</h6>
    </div>
    <div class="aykhanom">
       <img src="images/aykhanom.jpg" alt="">
       <h3>Ay Khanom</h3>  
       <h5>With Yougurt</h5>      
            <h6>$15</h6>
    </div>
    <div class="turshi">
        <img src="images/turshi.jpg" alt="">
        <h3>Turshi</h3>  
        <h5>Vegetables</h5>      
             <h6>$7</h6>
    </div>
</div>

<div class="bodyParagraphs">

<div class="paragraph1">
    <p>A restaurant is a business that prepares and serves food and drinks to customers.[1] Meals are generally served and eaten on the premises, but many restaurants also offer take-out and food delivery services. Restaurants vary greatly in appearance and offerings, including a wide variety of cuisines and service models ranging from inexpensive fast-food restaurants and cafeterias to mid-priced family restaurants, to high-priced luxury establishments</p>
</div>

<div class="paragraph2">
    <p>The earliest modern-format "restaurants" to use that word in Paris were the establishments which served bouillon, a broth made of meat and egg which was said to restore health and vigour. The first restaurant of this kind opened in 1765 or 1766 by Mathurin Roze de Chantoiseau on rue des Poulies, now part of the Rue de Louvre. The name of the owner is sometimes given as Boulanger. Unlike earlier eating places, it was elegantly decorated, and besides meat broth offered a menu of several other "restorative" dishes, including macaroni. Chantoiseau and other chefs took the title "traiteurs-restaurateurs". While not the first establishment where one could order food, or even soups, it is thought to be the first to offer a menu of available choices.</p>
</div>

</div>