

<div class="foods-plate">
    <div class="mantu">
        <img src="images/mantu2.jpg" alt="">

    <h3>Mantu</h3>
    <h5>With Souce</h5>        
    
    </div>
    <div class="samosa">
        <img src="images/samosa.jpg" alt="">
        <h3>Samosa</h3>
            <h5>With Ketchup</h5>        
               
    </div>
    <div class="aykhanom">
       <img src="images/aykhanom.jpg" alt="">
       <h3>Ay Khanom</h3>  
       <h5>With Yougurt</h5>      
            
    </div>
    <div class="ashak">
        <img src="images/ashak.jpg" alt="">
        <h3>Ashak</h3>  
        <h5>With Yougurt</h5>      
             
     </div>
    <div class="turshi">
        <img src="images/turshi.jpg" alt="">
        <h3>Turshi</h3>  
        <h5>Vegetables</h5>      
            
    </div>
</div>

<div class="bodyParagraphs">

<div class="paragraph1">
   <h2>1. Mantu</h2>
    <p>It is a meat, usually beef or lamb, stuffed dumpling that is steamed. The beloved dish mantu is a dish of the common man (person) and often sold at markets and on busy streets. Mantu is super versatile and can also be served served on special occasions and during large gatherings.</p>
</div>

<div class="paragraphs">
    <h2>2. Samosa</h2>
    <p>Sambosas are popular Afghan appetizers that are triangular puff pastries stuffed with spiced ground meat and peas and baked to flaky golden turnovers. This Afghan sambosa recipe makes 6 puff pastry and is great served as a snack with chai or as an appetizer with yoghurt mint dip.</p>
</div>


<div class="paragraphs">
    <h2>3. Ashak</h2>
    <p>Ashak is an Afghan vegetarian dumpling filled with leek and coriander, covered by two sauces. One of them is made of tomato, garlic, and chana dal (split chickpea lentils), and another sauce is made of yogurt and garlic. If you are not a fan of vegetarian foods, you can add beef mince to the tomato sauce</p>
</div>

<div class="paragraphs">
    <h2>4. Turshi</h2>
    <p>Torshi are the pickled vegetables of many Middle Eastern and Balkan cuisines. Torshi is common in Arab, Turkish, Kurdish, Afghan, Bosnian, Armenian and Iranian cuisine. Iran has hundreds of types of torshi, according to regional customs and different events.</p>
</div>

</div>