
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
/* 

@media (max-width:350px){
    .footer .footer-nav{
        flex: 100%;
        
    }
    .footer .footer-nav button:nth-child(3){
        margin-top: 10px;
    }
}

.footer{
   background-image: url(/images/footer-img.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color: #fff;
    flex-direction: column;
    overflow: auto;
    position: relative;
    z-index: 2;
}




.footer::after{
    position: absolute;
    content: "";
   height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: -2;
}


.footer .footer-info p {
    text-align: justify;
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.footer .footer-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 40px 0px;
    align-items: center;
    
}




.footer .footer-address h4{
    padding: 5px;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}


.footer .footer-address span{
    padding-right: 5px;
    
    
}
.footer .footer-nav{
    flex-wrap: wrap;
}



.footer .footer-nav button{
  padding: 10px;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 7px;

}

.footer .footer-nav button:hover{
    cursor: pointer;
}


.footer .footer-nav span{
    padding-left: 5px;
}

 */

 @media (max-width:600px){
        .copy-right .info ul li{
            display: block;
        }
        .copy-right-btns button:nth-child(3){
            margin-top: 10px;
        }
        .footer .contact-container .social-media{
            margin-bottom: 20px;
        }
 }
 
 .footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    overflow: auto;
    background-color: #121212;
 }

.footer .footer-info{
    display: flex;
    color: #fff;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
} 

.footer .footer-info h2{
    font-family: 'Source Sans Pro', sans-serif;
   
    letter-spacing: 2px;
    
}

.footer .footer-info p{
    line-height: 27px;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    text-align: center;
}

.footer .footer-info i{
    padding-top: 4%;
    padding-bottom: 4%;
    color: rgb(221, 9, 9);
}


.footer .contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
margin-bottom: 40px;
margin-top: 20px;
flex-wrap: wrap;
}


.footer .contact-container .social-media h2{
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-align: center;
}


.footer .contact-container .social-media a:hover{
    color: rgb(221, 9, 9);
    transition: 0.2s;
}


.footer .contact-container .social-media a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
   padding: 10px 20px 0px 10px;
   transition: 0.2s;
}



.footer .contact-container .send-message h2{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-align: center;
}




.footer .contact-container .send-message form textarea{
    outline:none;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 7px;
    border: none;   
}

.footer .contact-container .send-message form button{
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background: rgb(221, 9, 9);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    font-size: clamp(12px, 1.3vw, 16px);
}

.footer .contact-container .send-message form button:hover{
    transform: scale(1.1, 1.1);
}

.footer .contact-container .send-message form button:active{
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}

.copy-right{
    padding: 30px 40px 30px;
    background-color: #262526;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.copy-right .info{
    flex-wrap: wrap;
}


.copy-right ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.copy-right li{
    color: #bbbbbb;
    font-size: 14px;
}

.copy-right li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
}



.copy-right .copy-right-btns{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 0px 0px;
    align-items: center;
    flex-wrap: wrap;
}

.copy-right .copy-right-btns button{
  padding: 10px;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 7px;
    background: rgb(221, 9, 9);
    color: #fff;
    cursor: pointer;
}



.copy-right .copy-right-btns span{
    padding-left: 5px;
}